---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Jr Software Developer",
    company: "wTreData",
    description:
      "Desarrollo integral de aplicaciones web, desde la creación de interfaces interactivas hasta la implementación de APIs y gestión de bases de datos, utilizando tecnologías modernas y aplicando buenas prácticas de programación.",
  },
  {
    date: "Octubre 2023",
    title: "Developer Frontend",
    company: "Universidad de Pamplona",
    description:
      "Responsable del desarrollo de un modelo 3D con Unity para proyectos de videojuegos y entornos interactivos, y animación en Blender, logrando mejorar la experiencia del usuario en un 30%.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
